---
layout: category
taxonomy: featured
entries_layout: # list (default), grid
---

<!-- Style is customized in assets/css/main.scss-->
<div class="page__hero--overlay" ;> 
  <div class="wrapper">
    <h1 id="page-title" class="page__title page__title__custom" itemprop="headline">
      Will High
    </h1>
    <p class="page__lead page__lead__custom">
      Machine Learning Scientist
    </p>
  </div>
</div>

<h3 class="archive__subtitle">Featured posts</h3>

<!-- {% assign posts = site.posts %}

{% assign entries_layout = page.entries_layout | default: 'list' %}
<div class="entries-{{ entries_layout }}">
  {% for post in posts %}
    {% if forloop.index > 5 %}
      {% break %}
    {% endif %}
    {% include archive-single.html type=entries_layout %}
  {% endfor %}
</div>
<p><a href="/blog" class="btn btn--primary">Read More</a></p>

 -->
<!-- {% include feature_row id="featured_posts" %}

{% include feature_row id="other" %}
 -->