---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials


/* Apply custom style below */

.page__hero--overlay .page__title__custom {
  color: $text-color;
  text-shadow: none;
  text-align: center;
  /* font-variant: small-caps; */
}

.page__hero--overlay .page__lead__custom {
  color: $text-color;
  text-shadow: none;
  text-align: center;
  max-width: none;
  font-variant: small-caps;
}
